.wrapper {
    border-top: 1px solid #e3e3e4;
}
.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #16182380;
}
//account item
.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    display: inline-block;
    margin-top: 0;
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}
.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.username {
    font-size: 1.2rem;
    color: #161823bf;
    font-weight: 700;
}
.more-btn {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
