@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root {
    --primary: #fe2c55;
    ///default layout vars
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
}
html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
.activeCatagory {
    color: var(--primary);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
