@import 'normalize.css';

:root {
    --primary: #fe2c55;
    ///default layout vars
    --default-layout-header-height: 60px;
    --font-family: 'TiktokFont', 'sans-serif';
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
}
///custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
//fonts
@font-face {
    font-family: TiktokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TiktokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TiktokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2'); // Sửa lại tên file ở đây
    font-weight: 600;
}

@font-face {
    font-family: TiktokFont;
    src: url('../../assets/fonts/TikTokFont-Regular.woff2'); // Sửa lại tên file ở đây
    font-weight: 400;
}
//scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
.activeCatagory {
    color: var(--primary);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: var(--font-family);
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
