.wrapper {
    --search-border-radius: 52px;
    --search-height: 46px;
    --search-button-width: 52px;
    --search-top-spacer: 9px;

    height: var(--default-layout-header-height);
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search,
.search-results {
    width: 361px;
}
.search {
    display: flex;
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    background-color: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;

    input {
        height: 100%;
        flex: 1;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        right: var(--search-button-width);
        background-color: rgba(22, 24, 35, 0.12);
        top: var(--search-top-spacer);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.clear,
.loading {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    right: calc(var(--search-button-width) + 10px);
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    color: rgba(22, 24, 35, 0.34);

    background-color: rgba(22, 24, 35, 0.06);

    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.actions {
    display: flex;
    align-items: center;
}
//more btn
.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
//log in
.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
