.wrapper {
    --search-border-radius: 52px;
    --search-height: 46px;
    --search-button-width: 52px;
    --search-top-spacer: 9px;

    height: var(--default-layout-header-height);
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//action
.actions {
    display: flex;
    align-items: center;
}
//more btn
.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
//log in
.action-btn {
    display: flex;
    font-size: 2.2rem;
    padding: 4px 12px;
    color: #161823;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
